h1 {
    font-size: 72px
}

h2 {
    font-size: 40px;
    color: #34bcef
}

.nav-link {
    font-weight: 400;
    color: #000!important
}

.color-me {
    color: #fff!important
}

.plus {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: pulse;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: pulse;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@-ms-keyframes pulse {
    from {
        -ms-transform: scale(1)
    }
    to {
        -ms-transform: scale(1.1)
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(90deg)
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(90deg)
    }
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

.login {
    border-left: 1px solid #ccc
}

.App {
    background: rgb(212,231,245);
    background: linear-gradient(180deg, rgba(212,231,245,1) 0%, rgba(255,255,255,1) 52%);
    height: 100vh
}

.container {
    margin-top: 200px
}

@media (max-width:1000px) {
    h1 {
        font-size: 44px
    }
    h2 {
        font-size: 20px
    }
    .container {
        margin-top: 80px
    }
    .one-image {
        width: 50px!important
    }
    .two-image {
        width: 50px!important
    }
    .three-image {
        width: 50px!important
    }
    .four-image {
        width: 50px!important
    }
    .dot {
        height: 5px!important;
        width: 5px!important;
        top: 17%!important;
        z-index: 0
    }
}

.color-primary {
    color: #2a496d
}

.numbers {
    margin-top: 30px
}

.city {
    position: absolute;
    border-bottom: 1px solid #2691d9;
    left: 50%;
    transform: translate(-50%, -50%)
}

.city-image {
    width: 80vw;
    left: 0
}

.dot-1 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    background-color: #2691d9;
    border: 1px solid #2691d9;
    left: 10%;
    top: 30%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.dot-2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    background-color: #18ccd5;
    border: 1px solid #18ccd5;
    right: 10%;
    top: 15%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 8s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0) translateX(1px) rotate(0)
    }
    to {
        -ms-transform: rotate(360deg) translateX(1px) rotate(-360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0) translateX(1px) rotate(0)
    }
    to {
        -moz-transform: rotate(360deg) translateX(1px) rotate(-360deg)
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0) translateX(150px) rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0) translateX(30px) rotate(0)
    }
    100% {
        transform: rotate(360deg) translateX(30px) rotate(-360deg)
    }
}

.building {
    position: absolute;
    bottom: 0;
    margin: 0 auto
}

.one {
    left: 20%
}

.one-image {
    width: 120px
}

.two {
    left: 35%
}

.two-image {
    width: 130px
}

.three {
    right: 35%
}

.three-image {
    width: 140px
}

.four {
    right: 15%
}

.four-image {
    width: 150px
}